<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
   <menuContribution
          locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="debug.launch"
               label="%toolbar.label">
            <command
                  commandId="org.eclipse.debug.ui.commands.Terminate"
                  icon="img/terminatedlaunch_obj.gif"
                  id="debugtoolbar.terminate"
                  style="push"
                  tooltip="%command.tooltip">
            </command>
            <command
                  commandId="org.eclipse.debug.ui.commands.TerminateAndRelaunch"
                  icon="img/term_restart.gif"
                  id="debugtoolbar.terminateandrelaunch"
                  style="push"
                  tooltip="%command.tooltip.0">
            </command>
            <command
                  commandId="org.eclipse.debug.ui.commands.Restart"
                  icon="img/terminate_all_co.gif"
                  id="debugtoolbar.restart"
                  style="push"
                  tooltip="%command.tooltip.1">
            </command>
         </toolbar>     
         <toolbar
               id="debug.toolbar"
               label="%toolbar.label.0">
            <command
                  commandId="org.eclipse.debug.ui.commands.Resume"
                  icon="img/resume_co.gif"
                  id="debugtoolbar.resume"
                  style="push"
                  tooltip="%command.tooltip.2">
            </command>
            <command
                  commandId="org.eclipse.debug.ui.commands.StepInto"
                  icon="img/stepinto_co.gif"
                  id="debugtoolbar.stepin"
                  style="push"
                  tooltip="%command.tooltip.3">
            </command>
            <command
                  commandId="org.eclipse.debug.ui.commands.StepOver"
                  icon="img/stepover_co.gif"
                  id="debugtoolbar.stepover"
                  style="push"
                  tooltip="%command.tooltip.4">
            </command>
            <command
                  commandId="org.eclipse.debug.ui.commands.StepReturn"
                  icon="img/stepreturn_co.gif"
                  id="debugtoolbar.stepreturn"
                  style="push"
                  tooltip="%command.tooltip.5">
            </command>
            <command
                  commandId="org.eclipse.debug.ui.commands.SkipAllBreakpoints"
                  icon="img/skip_brkp.gif"
                  id="debugtoolbar.stepreturn"
                  style="push"
                  tooltip="%command.tooltip.6">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
</plugin>
